.app{
  text-align: center;
}

ul li {
  list-style: none;
  overflow-wrap: break-word;
  margin: .5em;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.todo-item {
  background: orange;
  border: 1px solid black;
  margin: .25em;
  min-height: 50px;
}

button {
  background: linear-gradient(50deg, white, orange);
  padding: 1em;
  margin: 1em;
  border-radius: 10%;
  
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row;
}

.edit-delete-buttons button{
  width: 100%;
  margin: 3em 0 0 0;
  padding: .5em;
  border-radius: 0;
}

